<div class="metric-card-wrapper">
  <div class="grid gap-4 grid-cols-6 xmd:grid-cols-12">
    <div class="col-span-12">
      <p class="program-title">Dynamic Title</p>
      <p class="program-desc">Dynamic Description</p>
    </div>
  </div>
</div>

<div class="custom-tab-group-wrapper">
  <mat-tab-group
    [selectedIndex]="tabIndex"
    mat-align-tabs="start"
    animationDuration="0ms"
    (selectedTabChange)="onTabChanged($event)"
    appFullScreen
  >
    <ng-container *ngFor="let tab of tabs">
      <mat-tab [label]="tab.name">
        <ng-container *ngFor="let card of cards">
          <ng-container [ngSwitch]="card.type">
            <app-map-card
              *ngSwitchCase="'map'"
              [tab]="tab"
              [card]="card"
            ></app-map-card>
            <app-number-card
              *ngSwitchCase="'number'"
              [tab]="tab"
              [card]="card"
            ></app-number-card>
            <app-table-card
              *ngSwitchCase="'table'"
              [tab]="tab"
              [card]="card"
            ></app-table-card>
          </ng-container>
        </ng-container>
      </mat-tab>
    </ng-container>
  </mat-tab-group>
</div>
