<div class="metric-card-wrapper">
  <div class="grid gap-4 grid-cols-6 xmd:grid-cols-12">
    <div class="col-span-12">
      <p class="program-title">Dynamic Title</p>
      <p class="program-desc">Dynamic Description</p>
    </div>
  </div>
</div>

<div class="custom-tab-group-wrapper">
    <mat-tab-group [selectedIndex]="tabIndex" mat-align-tabs="start" animationDuration="0ms"
        (selectedTabChange)="onTabChanged($event)" appFullScreen>
        <ng-container *ngFor="let tab of tabs">
            <mat-tab [label]="tab.name" >                
                <app-card [tab]="tab"></app-card>
            </mat-tab>
        </ng-container>
    </mat-tab-group>
</div>
